.card {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 2px 0px 5px black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: block;
}

.desc {
    padding-left: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}

.card:hover {
    box-shadow: 2px 0px 18px black;
}