/*h1 {
    display: inline;
    background-color: thistle;
}

span {
    display: block;
    background-color: lightblue;
}*/

/*div {
    background-color: lightgreen;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}*/

/*#outer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: lightgrey;
    font-size: 20px;
}*/

/*#inner {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: lightgreen;
    font-size: 2em;
    padding: 1em;
}*/

/*button {
    height: 50px;
    width: 150px;
    border: 2px solid black;
    border-radius: 20%;
    margin-top: 10px;
    letter-spacing: 2px;
    background-color: cornsilk;
}
*/
/*p {
    background-color: rgba(255 , 0 , 0 , 0.3);
}*/

div {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: aqua;
    margin: 5px;
    transition: 0.5s;
}

div:hover {
    background-color: aquamarine;
    border-radius: 20%;
}