/*h1 {
    display: inline;
    background-color: thistle;
}

span {
    display: block;
    background-color: lightblue;
}*/

div {
    background-color: lightgreen;
    height: 200px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}