.container {
    height: 300px;
    width: 600px;
    background-color: rgb(24, 156, 156);
    display: grid;
    /*grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;*/
    /*    grid-template-columns: repeat(5, 1fr);*/
    /*grid-template-rows: repeat(5, 1fr);*/
}

.item {
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
}

h1 {
    text-align: center;
}