.container {
    height: 300px;
    width: 600px;
    background-color: rgb(24, 156, 156);
}

.item {
    width: 100px;
    height: 50px;
    background-color: yellowgreen;
    border: 2px solid black;
    text-align: center;
    display: grid;
}

h1 {
    text-align: center;
}