/*Kya be tum logo ko kya laga hum yaha nahi daalenge comment?*/
/*CSS: Cascading style sheets*/
/*Isme Selector, Property aur Value hota hai*/
/*Selector ki mujhe kaha kya change karna he usko koi na koi to title dunga hi na. To vo yaha likhte he*/
/*Property: Jo cheez me change karna chahta hu uska naam*/
/*Value: Jo naya change karna chahta hu uska naam*/
/*Ab yaha Inline style ka matlab hoga he ki hum HTML me hi style ka use karen*/
/*Ab dusra ho gaya ki header me jaake style tag ka use karna*/
/*Finally CSS ki shuruaat hui*/
/*Ab teesra ho gaya external CSS jisme hum alag se ek file banayenge jiska naam intro.css rakhte he aur usme hum apna CSS code likhenge*/

/*Text alogn hame batata he ki hum kaha daalana chahte he is text ko*/
h1{
    text-align: center;
    color: blue;
    /*Iska matlab hota he ki hum kisi text ke niche underline daale*/
    text-decoration: underline;
}


h3{
    text-align: right;
    width: 70%;
    /*Ab ye Sir par chhat banate he*/
    text-decoration: overline;
}

/*Font weight hame text ko kitna bold karna he aur kitna light ye karne ko allow karta he aur yaha 400=Normal he*/
h2{
    font-weight: 90;
}

p{
    /*Ye line cut karta he*/
    text-decoration: double line-through; /*Isme mene double likha he isliye hame do line dikhti he*/
    line-height: 2.5; /*Is se hame lamba lamba gap dekhne ko milta he lines ke bich me*/
    letter-spacing: 5px; /*Is se latters ke bichme gap aata he*/
    font-size: 10px; /*Ab ye Font siz ko set karta he lakin isme problem he ki mobile ke liye bhi iska size fix rahega esa nahi ki audjest ka le nahi, Ye vese ka vesa hi rehta he. Uske liye hum log Relative values ka use karte he. Jese ki "%" jese kuchh*/
}
/*Hum isme alag alag type ke fonts use karke dekhenge*/
p2{
    font-family: fantasy;
}