<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page</h1>
    <!--Ab ye EJS ka kuchh yaha likhte he. Isko start aur end <%= %> ese hi karate he aur iske beech me kuchh bhi likho-->
    <h3> <%= 1 + 2 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates est distinctio tempore ratione temporibus ipsa facere sed recusandae quod, nobis exercitationem illum mollitia inventore rerum aperiam pariatur culpa, adipisci iure.
    Doloremque ea, nisi ducimus consequuntur nobis quis perferendis dolorem dolorum accusamus ullam cumque non. In sit laborum cupiditate adipisci doloribus. Ex similique sapiente facere quis aliquam repellat corrupti qui assumenda!
    Tempore possimus ad perspiciatis doloribus exercitationem qui deleniti reiciendis asperiores cupiditate omnis voluptate a harum doloremque accusamus pariatur earum laudantium recusandae dolorem debitis similique esse hic, cumque saepe tenetur. Debitis!</p>
    <button>click me!</button>
</body>
</html>