<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat Baby</title>
</head>
<body>
    <h3>New Chat likh le bhayii...</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="Naam Likh yaha" name="from"> <br><br>
        <textarea name="message" placeholder="Likh ab apni bakwass yaha..."></textarea> <br><br>
        <input type="text" placeholder="Kisko bhejana he message?" name="to"> <br><br>
        <button type="submit">Create Chat</button>
    </form>
</body>
</html>