h2, span {
    color: burlywood;
}

.card {
    width: 400px;
    border: 2pd solid black;
    border-radius: 20%;
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%;
    border-radius: 10%;
}

h3 {
    text-align: center;
}

#pets {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 375px) {
    #pets {
        flex-wrap: wrap;
    }
}