.allChats, .NewChatButton {
    text-align: center;
}

* {
    font-style: italic;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.message {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 16px;
}