/*Part 2*/
/*body {
    text-align: center;
}

div {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
}*/

/*Even Bubbling*/
div {
    height: 200px;
    width: 400px;
    background-color: lime;
}
li {
    background-color: violet;
}
ul {
    background-color: tomato;
}