<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All Post</title>
</head>
<body>
    <h1>Quora Post</h1>
    <!--Yaha par hame for likha tha to of kar diya-->
    <!--post vo he jo ham maan rahe he posts vo he jiska array js me he-->
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %> </h3>
            <h4 class="content"> <%= post.content %> </h4>
            <br>
            <a href="http://localhost:2000/posts/<%= post.id %>">See in detail</a>
        </div>
    <% } %>

    <br>
    <br>

    <a href="http://localhost:2000/posts/new"><button>Create New Post</button></a>
</body>
</html>